body {background:#ddd;}
.flex_main {
  display : flex;
  flex-direction : row;
}
.profile_child{
  width:30%;
  background: #90EE90;
  padding: 2%;
  margin: 2%;
}
.content_child {
  width:70%;
  background: #ADD8E6;
  padding: 2%;
   margin: 2%;
}
.profile_pic {
  width:200px;
  height: auto;
}
.profile_circle{
  border-radius: 50%;
  border: 1px solid #ddd;
  display:block;
  margin-left: auto;
  margin-right: auto;
}
/*small scale devices*/
@media only screen and (min-width:320px) and (max-width:480px) {
  .flex_main {
    display : flex;
    flex-direction : column;
  }
  .profile_child{
    width:100%;
    background: 	#FF69B4;
    padding: 2%;
    margin: 2%;
  }
  .content_child {
    width:100%;
    background: 	#FF69B4;
    padding: 2%;
     margin: 2%;
  }
}
/*mediuam scale devices*/
@media only screen and (min-width:481px) and (max-width:768px) {
  .flex_main {
    display : flex;
    flex-direction : column;
  }
  .profile_child{
    width:96%;
    background: #FF1493;
    padding: 2%;
    margin: 2%;
  }
  .content_child {
    width:100%;
    background: #FF1493;
    padding: 2%;
     margin: 2%;
  }
}
/*tablets*/
@media only screen and (min-width:769px) and (max-width:1024px) {
  .flex_main {
    display : flex;
    flex-direction : row;
  }
  .profile_child{
    width:96%;
    background: #00FFFF;
    padding: 2%;
    margin: 2%;
  }
  .content_child {
    width:100%;
    background: 	#00FFFF;
    padding: 2%;
     margin: 2%;
  }
}
